<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidoriValveTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MidoriValveTest.Properties.Settings>
            <setting name="Customer" serializeAs="String">
                <value>GLOB (Global Intercom)</value>
            </setting>
            <setting name="CodeProject" serializeAs="String">
                <value>0-510-2228</value>
            </setting>
            <setting name="PersonOfContact" serializeAs="String">
                <value>Fred Rezaie</value>
            </setting>
            <setting name="PurchaseOrder" serializeAs="String">
                <value>201XXX</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value>Jason Tran - SSNE</value>
            </setting>
            <setting name="FirstTimeOpen" serializeAs="String">
                <value>True</value>
            </setting>
        </MidoriValveTest.Properties.Settings>
    </userSettings>
</configuration>